{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
</head>

<body>
    <style type="text/css">
        a {
            color: #000;
            text-decoration: none;
        }
    </style>
    <center>
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
                <video controls style="width: 100%; height: 105vh;">
                    <source src="{{ object.video.url }}">
                </video>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Narxi: {{ object.narxi | floatformat:3 }} UZS</h5> <br><br>
                <p class="card-text">
                    <b>Akkaunt ID: </b> {{ object.pubg_id }} <br>
                    <b>Sotib Olingan RP: </b> {{ object.rp }} ta <br>
                    <b>X Kostumlar: </b> {{ object.xsuite }} ta <br>
                    <b>Mifik Kiyimlar: </b> {{ object.mifik_kiyim }} ta <br>
                    <b>Qurollarga Skin: </b> {{ object.avtomat }} ta <br>
                    <b>Kill Chat Qurollar: </b> {{ object.kill_chat }} ta <br>
                    <b>Granda Skinlar: </b> {{ object.granada }} ta <br>
                    <b>Sumkaga Skinlar: </b> {{ object.sumka }} ta <br>
                    <b>Kaskaga Skinlar: </b> {{ object.kaska }} ta <br>
                    <b>Parachute Skinlar: </b> {{ object.parachute }} ta <br>
                    <b>Mashina Skinlar: </b> {{ object.mashina }} ta <br>
                    <b>Samalyot Skinlar: </b> {{ object.samalyot }} ta <br>
                    <b>Vertalyot Skinlar: </b> {{ object.vertalyot }} ta <br>
                    <b>Personajlar: </b> {{ object.personaj }} ta <br>
                    <b>Emojilar </b>: {{ object.emoji }} ta <br>
                    <b>Titullar </b>: {{ object.titul }} ta <br>
                    <b>Hayvonlar </b>: {{ object.hayvon }} ta <br>

                    <b>Joyladi:</b> {{ object.author }}
                    {% if object.telegram %}
                        <a href="https://t.me/{{ object.telegram }}/" target="_blank">

                            <li class="fa fa-telegram" style="font-size: 15px;"></li> Telegram
                        </a>
                    {% endif %}

                    {% if object.telegram %}
                        <a href="https://instagram.com/{{ object.instagram }}/" target="_blank">
                            <li class="fa fa-instagram" style="font-size: 15px;"></li> Instagram
                        </a>
                    {% endif %}
                </p>
                <p class="card-text"><small class="text-muted">{{ object.date }}</small></p>

                <a href="{% url 'pubg-account-list' %}">Orqaga</a> <br>

                {% if user.is_authenticated and object.author == user  %}
                    <a href="{% url 'pubg-account-delete' object.pk %}">O'chirish</a>
                    <a href="{% url 'pubg-account-edit' object.pk %}">Tahrirlash</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

        <!-- Write Comment -->

        {% if user.is_authenticated %}
            <form method="POST" style="position: relative; right: 20px; color: #fff;">{% csrf_token %}
               
                {% if profile_pic %}
                <img class="img-responsive" src="{{ user.profile_pic.url }}" alt="" style="max-width:100px;">
                            
                {% else %}
                    <img class="img-responsive" src="{% static 'images/avatar.png' %}" alt="" style="max-width:100px;">
                {% endif %}        
                
                {{ comment_form }} <br>
                            
                <button class="btn btn-info comment-send" type="submit">Jo'natish</button>
            </form>
        {% endif %}

        <br><br>

        <!-- Write Comment End -->

        <!-- COMMENT START -->
        {% for comment in comments %}
            <div class="card">
              <div class="card-body">
                <a href="{% url 'profile' comment.author %}">
                    <h4>
                        {% if comment.author.profile_pic %}
                            <a class="pull-left" href="{% url 'profile' comment.author %}"><img class="media-object" src="{{ comment.author.profile_pic.url }}" style="width: 50px; height: 50px; display: inline-block; float: left;"></a>
                        {% else %}
                            <a class="pull-left" href="{% url 'profile' comment.author %}"><img class="media-object" src="{% static 'images/avatar.png' %}" alt=""></a>
                        {% endif %}

                        <a href="{% url 'profile' comment.author %}"><b>{{ comment.author }}</b></a>
                    </h4>
                <p class="card-text">{{ comment.content }} <br> {{ comment.date_posted }}</p>
                </a>
              </div>
            </div>
        {% endfor %}
        <!-- COMMENT END -->
    </center>
</body>

{% endblock content %}